/* Style commun */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

h2 {
    margin-top: 0;
    font-size: 24px;
}

.error-box {
    border: 1px solid #ff0000;
    background-color: #ffe4e4;
    padding: 10px;
    margin-bottom: 20px;
}

/* Style pour le formulaire de connexion */

.login-box {
    background-color: #ffffff;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.user-box {
    position: relative;
    margin-bottom: 20px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #999999;
    outline: none;
    background-color: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #999999;
    pointer-events: none;
    transition: 0.2s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    font-size: 12px;
    color: #555555;
}

.signup-box {
    margin-top: 20px;
    text-align: center;
}

.signup-box a {
    color: #666666;
    text-decoration: none;
    transition: 0.2s;
}

.signup-box a:hover {
    color: #555555;
}

/* Style pour le formulaire d'inscription */

.register-box {
    background-color: #ffffff;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.register-box h2 {
    text-align: center;
}

.register-box label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #999999;
    pointer-events: none;
    transition: 0.2s;
}
.user-box input:focus label,
.user-box input:valid label {
    top: -20px;
    font-size: 12px;
    color: #555555;
}
.register-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #999999;
    outline: none;
    background-color: transparent;
}
    
    /* Style for the error message */
    .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      button[type="submit"]:hover {
        background-color: #3e8e41;
      }
